
<a n:href="Home:actionOne"><button type="button">Akce 1</button></a>
<a n:href="Home:actionTwo"><button type="button">Akce 2</button></a>
<a n:href="Home:actionThree"><button type="button">Akce 3</button></a>
<a n:href="Home:actionFour"><button type="button">Akce 4</button></a>
<a n:href="Home:actionFive"><button type="button">Akce 5</button></a>
<br /><br /><br /><br />